<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="connectionString" value="Data Source=r0usta\SQLEXPRESS;Initial Catalog=cloud;Integrated Security=True; Connection Timeout=8"/>
	</appSettings>
</configuration>